In [1]:
import sqlalchemy
from sqlalchemy import create_engine
import pandas as pd
import requests
import re

In [73]:
# Conectar ao banco com sqlalchemy
engine = create_engine('mysql+pymysql://root:4002@localhost:3306/mydatabase')

# Pegar o maior timestamp da tabela de produtos
query = "SELECT IFNULL(MAX(timestamp), 0) FROM LinxProdutos"
maior_timestamp = pd.read_sql(query, engine).iloc[0, 0]

# Pegar a data de início do ano
data_inicial = '2021/01/01'

# Fazer o request
url = "https://webapi.microvix.com.br/1.0/api/integracao"

r = requests.post(
    url,
    f"<?xml version='1.0' encoding='utf-8' ?>\
    <LinxMicrovix>\
    <Authentication user ='linx_export' password='linx_export'/>\
    <ResponseFormat>CSV</ResponseFormat>\
    <IdPortal>14664</IdPortal>\
    <Command><Name>LinxProdutos</Name>\
    <Parameters>\
    <Parameter id='chave'>C0C962A5-B7BB-4BAA-9AB5-381F417ED0A0</Parameter>\
    <Parameter id='cnpjEmp'>09115208000120</Parameter>\
    <Parameter id='timestamp'>0</Parameter>\
    <Parameter id='dt_update_inicio'>{data_inicial}</Parameter>\
    <Parameter id='dt_update_fim'>2025/12/31</Parameter>\
    </Parameters>\
    </Command>\
    </LinxMicrovix>"
)
colunas_cm = ["portal",
                "cod_produto",
                "cod_barra",
                "nomeproduto",
                "cod_ncm",
                "desc_cor",
                "desc_tamanho",
                "desc_setor",
                "desc_linha",
                "desc_marca",
                "desc_colecao",
                "id_cor",
                "id_tamanho",
                "id_setor",
                "id_linha",
                "id_marca",
                "id_colecao",
                "dt_cadastro",
                "timestamp"
]

#Pegar apenas as colunas que interessam para colocar direto no CM_Produtos


texto = r.text
linhas = texto.split('\n')
print(linhas[2])
#substituir apenas virgulas entre aspas por ponto
texto = re.sub(r'(?<=\")(.*?),(.*?)(?=\")', r'\1.\2', texto)
linhas = texto.split('\n')
data = [linha.split(',') for linha in linhas]
#transformar os "" em null 
# data = [[None if x == '""' else x for x in linha] for linha in data]
print(linhas[2])
print(data[2])
# Criar o dataframe
df = pd.DataFrame(data[2:], columns=data[1])
#transformar esse dataframe em um json para inserir no banco
df = df.to_json(orient="records")

display(df)

#fazer mapeamento dos nomes das colunas
#novos nomes
# 'nomeproduto', 'cod_ncm', 'dt_cadastro'
#nomes antigos
# 'nome', 'ncm', 'dt_update'

df.rename(columns={'nome': 'nomeproduto', 'ncm': 'cod_ncm', 'dt_update': 'dt_cadastro'}, inplace=True)

df = df[colunas_cm]

# Inserir em outro tabela para conferir
df.to_sql('linxprodutosnova', engine, if_exists="replace", index=False)

14664,1844,1844,ESCALPE 25G LOCK - DESCARPACK,90183929,,421401,,UN,,,DESCARTÃVEIS,GERAL,DESCARPACK,GERAL,09/05/2023 16:45:00,536,S,NÃ£o Informada,0,,,,0,0,0,0,7,1,24,1,28/04/2023 00:00:00,3313038,"1,0000",,,,,N,,,,N,,,
14664,1844,1844,ESCALPE 25G LOCK - DESCARPACK,90183929,,421401,,UN,,,DESCARTÃVEIS,GERAL,DESCARPACK,GERAL,09/05/2023 16:45:00,536,S,NÃ£o Informada,0,,,,0,0,0,0,7,1,24,1,28/04/2023 00:00:00,3313038,"1.0000",,,,,N,,,,N,,,
['14664', '1844', '1844', 'ESCALPE 25G LOCK - DESCARPACK', '90183929', '', '421401', '', 'UN', '', '', 'DESCARTÃ\x81VEIS', 'GERAL', 'DESCARPACK', 'GERAL', '09/05/2023 16:45:00', '536', 'S', 'NÃ£o Informada', '0', '', '', '', '0', '0', '0', '0', '7', '1', '24', '1', '28/04/2023 00:00:00', '3313038', '"1.0000"', '', '', '', '', 'N', '', '', '', 'N', '', '', '']

,portal,cod_produto,cod_barra,nome,ncm,cest,referencia,cod_auxiliar,unidade,desc_cor,...,id_produtos_opticos_tipo,id_sped_tipo_item,componente,altura_para_frete,largura_para_frete,comprimento_para_frete,loja_virtual,codigoproduto_io,cod_comprador,codigo_integracao_oms
0,14664,1844,1844,ESCALPE 25G LOCK - DESCARPACK,90183929,,421401,,UN,,...,,,N,,,,N,,,
1,14664,1843,1843,ALCOOL ETILICO 70 INPM - 1 LT - MEYORS,22072011,,83.0,,UN,,...,,,N,,,,N,,,
2,14664,1831,1831,BC0150-A SUSPENSORIO ESCROTAL TAM P - MERCUR,63079090,,B0620111520,,UN,,...,,,N,,,,N,,,
3,14664,1832,1832,BC0150-B SUSPENSORIO ESCROTAL TAM M - MERCUR,63079090,,B0620111522,,UN,,...,,,N,,,,N,,,
4,14664,1833,1833,BC0150-C SUSPENSORIO ESCROTAL TAM G - MERCUR,63079090,,B0620111523,,UN,,...,,,N,,,,N,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2070,14664,2073,2073,COLCHAO ANTI ESCARAS 110V - CONTROLLER,90191000,,0727295086020,,UN,,...,,N,"""0.0000"".""0.0000"".""0.0000""",N,,,,None,None,None
2071,14664,740,740,AP DE PRESSAO ARTERIAL AUTOMATICO DE BRACO 732...,90189069,,HEM-7320-BR,,UN,,...,,,N,,,,N,,,
2072,14664,2074,2074,FRALDA PANTS NOTURNA G/EG 7 - TENA,96190000,,92768.0,,UN,,...,,N,"""0.0000"".""0.0000"".""0.0000""",N,,,,None,None,None
2073,14664,2075,2075,FRALDA PANTS NOTURNA P/M 7 - TENA,96190000,,92820.0,,UN,,...,,N,"""0.0000"".""0.0000"".""0.0000""",N,,,,None,None,None
2074,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

2075

In [69]:
query = "SELECT * FROM LinxProdutosNova"
query2 = "SELECT * FROM LinxProdutos"
df = pd.read_sql(query, engine)
df2 = pd.read_sql(query2, engine)
display(df.head())
display(df2.head())

,portal,cod_produto,cod_barra,nome,ncm,cest,referencia,cod_auxiliar,unidade,desc_cor,...,id_produtos_opticos_tipo,id_sped_tipo_item,componente,altura_para_frete,largura_para_frete,comprimento_para_frete,loja_virtual,codigoproduto_io,cod_comprador,codigo_integracao_oms
0,14664,1844,1844,ESCALPE 25G LOCK - DESCARPACK,90183929,,421401,,UN,,...,,,N,,,,N,,,
1,14664,1843,1843,ALCOOL ETILICO 70 INPM - 1 LT - MEYORS,22072011,,83.0,,UN,,...,,,N,,,,N,,,
2,14664,1831,1831,BC0150-A SUSPENSORIO ESCROTAL TAM P - MERCUR,63079090,,B0620111520,,UN,,...,,,N,,,,N,,,
3,14664,1832,1832,BC0150-B SUSPENSORIO ESCROTAL TAM M - MERCUR,63079090,,B0620111522,,UN,,...,,,N,,,,N,,,
4,14664,1833,1833,BC0150-C SUSPENSORIO ESCROTAL TAM G - MERCUR,63079090,,B0620111523,,UN,,...,,,N,,,,N,,,

,portal,cod_produto,cod_barra,nomeproduto,cod_ncm,cest,referencia,cod_auxiliar,unidade,desc_cor,...,id_produtos_opticos_tipo,id_sped_tipo_item,componente,altura_para_frete,largura_para_frete,comprimento_para_frete,loja_virtual,codigoproduto_io,cod_comprador,cod_oms
0,14664,1844,1844,ESCALPE 25G LOCK - DESCARPACK,90183929,,421401,,UN,,...,None,NaN,N,NaN,NaN,NaN,N,None,NaN,None
1,14664,1843,1843,ALCOOL ETILICO 70 INPM - 1 LT - MEYORS,22072011,,83.0,,UN,,...,None,NaN,N,NaN,NaN,NaN,N,None,NaN,None
2,14664,1831,1831,BC0150-A SUSPENSORIO ESCROTAL TAM P - MERCUR,63079090,,B0620111520,,UN,,...,None,NaN,N,NaN,NaN,NaN,N,None,NaN,None
3,14664,1832,1832,BC0150-B SUSPENSORIO ESCROTAL TAM M - MERCUR,63079090,,B0620111522,,UN,,...,None,NaN,N,NaN,NaN,NaN,N,None,NaN,None
4,14664,1833,1833,BC0150-C SUSPENSORIO ESCROTAL TAM G - MERCUR,63079090,,B0620111523,,UN,,...,None,NaN,N,NaN,NaN,NaN,N,None,NaN,None

In [64]:
print(data[2])

['14664', '1844', '1844', 'ESCALPE 25G LOCK - DESCARPACK', '90183929', '', '421401', '', 'UN', '', '', 'DESCARTÃ\x81VEIS', 'GERAL', 'DESCARPACK', 'GERAL', '09/05/2023 16:45:00', '536', 'S', 'NÃ£o Informada', '0', '', '', '', '0', '0', '0', '0', '7', '1', '24', '1', '28/04/2023 00:00:00', '3313038', '"1.0000"', '', '', '', '', 'N', '', '', '', 'N', '', '', '']

In [13]:
import sqlalchemy
from sqlalchemy import create_engine
import pandas as pd
import requests
import re
import csv
from io import StringIO
from datetime import datetime
import json

# LinxClientesFornec

In [7]:
# Conectar ao banco com sqlalchemy
# engine = create_engine('mysql+pymysql://root:4002@localhost:3306/mydatabase')

# # Pegar o maior timestamp da tabela de produtos
# query = "SELECT IFNULL(MAX(timestamp), 0) FROM LinxProdutos"
# maior_timestamp = pd.read_sql(query, engine).iloc[0, 0]


data_inicial = '2000/01/01'
url = "https://webapi.microvix.com.br/1.0/api/integracao"
response  = requests.post(url, 
        data=f"<?xml version='1.0' encoding='utf-8'?>\
        <LinxMicrovix>\
        <Authentication user ='linx_export' password='linx_export'/>\
        <ResponseFormat>csv</ResponseFormat>\
        <Command><Name>LinxClientesFornec</Name>\
        <Parameters>\
        <Parameter id='chave'>C0C962A5-B7BB-4BAA-9AB5-381F417ED0A0</Parameter>\
        <Parameter id='cnpjEmp'>40706783000148</Parameter>\
        <Parameter id='timestamp'>0</Parameter>\
        <Parameter id='data_inicial'>{data_inicial}</Parameter>\
        <Parameter id='data_fim'>2023/12/31</Parameter>\
        </Parameters>\
        </Command>\
        </LinxMicrovix>")
#Pegar apenas as colunas que interessam para colocar direto no CM_Produtos


# with open('teste.csv', 'w', encoding='utf-8') as f:
#     f.write(response.text)
# # Criar o dataframe
# df = pd.DataFrame(data[1:], columns=data[0])
#transformar esse dataframe em um json para inserir no banco
# df = df.to_json(orient="records")

# display(df)

In [10]:

# Your code to read and process the CSV
response_text = response.text
colunas_cm = ["nportal",
            "cod_cliente",
            "razao_cliente",
            "nome_cliente",
            "tipo_cliente",
            "cidade_cliente",
            "uf_cliente",
            "fone_cliente",
            "email_cliente",
            "sexo",
            "data_nascimento",
            "fone_celular",
            "timestamp"]
response_text = response_text.replace('sep=,\n', '')
csv_file = StringIO(response_text)
df = pd.read_csv(csv_file, sep=',', encoding='utf-8')
df.rename(columns={'portal': 'nportal', "cel_cliente": "fone_celular"}, inplace=True)
df = df[colunas_cm]
df = df[0:3]
df['data_nascimento'] = pd.to_datetime(df['data_nascimento'], format='%d/%m/%Y %H:%M:%S', errors='coerce').dt.strftime('%Y-%m-%d')
# df['data_nascimento'] = df['data_nascimento'].dt.strftime('%Y-%m-%d')
df = df.where(pd.notnull(df), "null")
display(df.head())
# Convert DataFrame to a list of dictionaries
# data = df.to_dict(orient='records')


# print(data)

# # # Wrap the list of dictionaries within another dictionary
# json_data = json.dumps(data)

# # # Print the resulting JSON
# print(json_data)

,nportal,cod_cliente,razao_cliente,nome_cliente,tipo_cliente,cidade_cliente,uf_cliente,fone_cliente,email_cliente,sexo,data_nascimento,fone_celular,timestamp
0,18550,1,CONSUMIDOR FINAL,CONSUMIDOR FINAL,F,null,SC,null,null,M,2005-03-02,null,2806436
1,18550,5,NOME DA EMPRESA MODELO PARA CONVÃNIO,NOME DA EMPRESA MODELO PARA CONVÃNIO,J,null,SC,null,null,M,null,null,2806439
2,18550,1000002,REDECARD INSTITUICAO DE PAGAMENTO S.A.,REDECARD,J,LONDRINA,PR,null,null,M,null,null,3230799

In [35]:
print(df.columns.transpose)

<bound method IndexOpsMixin.transpose of Index(['portal', 'cod_cliente', 'razao_cliente', 'nome_cliente', 'doc_cliente',
       'tipo_cliente', 'endereco_cliente', 'numero_rua_cliente',
       'complement_end_cli', 'bairro_cliente', 'cep_cliente', 'cidade_cliente',
       'uf_cliente', 'pais', 'fone_cliente', 'email_cliente', 'sexo',
       'data_cadastro', 'data_nascimento', 'cel_cliente', 'ativo', 'dt_update',
       'inscricao_estadual', 'incricao_municipal', 'identidade_cliente',
       'cartao_fidelidade', 'cod_ibge_municipio', 'classe_cliente',
       'matricula_conveniado', 'tipo_cadastro', 'empresa_cadastro',
       'id_estado_civil', 'fax_cliente', 'site_cliente', 'timestamp',
       'cliente_anonimo', 'limite_compras', 'codigo_ws',
       'limite_credito_compra', 'id_classe_fiscal', 'obs', 'mae',
       'cliente_contribuinte'],
      dtype='object')>

In [ ]:
{"nportal": 18550,
 "cod_cliente": 1,
 "razao_cliente": "CONSUMIDOR FINAL",
 "nome_cliente": "CONSUMIDOR FINAL",
 "tipo_cliente": "F",
 "cidade_cliente": "null",
 "uf_cliente": "SC",
 "fone_cliente": "null",
 "email_cliente": "null",
 "sexo": "M",
 "data_nascimento": "2005-03-02",
 "fone_celular": "null",
 "timestamp": 2806436
}

# Linx Movimento

In [12]:
maior_timestamp = 0 # depois passar a pegar do banco de dados
data_inicial = '2021/01/01'
url = "https://webapi.microvix.com.br/1.0/api/integracao"
response = requests.post(
    url,
    data=f"<?xml version='1.0' encoding='utf-8'?>\
    <LinxMicrovix>\
    <Authentication user ='linx_export' password='linx_export'/>\
    <ResponseFormat>csv</ResponseFormat>\
    <IdPortal>18550</IdPortal>\
    <Command><Name>LinxMovimento</Name>\
    <Parameters>\
    <Parameter id='chave'>C0C962A5-B7BB-4BAA-9AB5-381F417ED0A0</Parameter>\
    <Parameter id='cnpjEmp'>40706783000148</Parameter>\
    <Parameter id='timestamp'>{maior_timestamp}</Parameter>\
    <Parameter id='data_inicial'>{data_inicial}</Parameter>\
    <Parameter id='data_fim'>2025/12/31</Parameter>\
    </Parameters>\
    </Command>\
    </LinxMicrovix>"
)
clunas_movimento = ["portal",
    "cnpj_emp",
    "documento",
    "data_documento",
    "codigo_cliente",
    "cod_vendedor",
    "quantidade",
    "preco_custo",
    "valor_liquido",
    "desconto",
    "valor_total",
    "forma_dinheiro",
    "total_dinheiro",
    "forma_cheque",
    "total_cheque",
    "forma_cartao",
    "total_cartao",
    "forma_crediario",
    "total_crediario",
    "forma_convenio",
    "total_convenio",
    "frete",
    "operacao",
    "tipo_transacao",
    "cod_produto",
    "cancelado",
    "excluido", 
    "desconto_total_item",
    "timestamp"]

response_text = response.text
response_text = response_text.replace('sep=,\n', '')
csv_file = StringIO(response_text)
csv_reader = csv.reader(csv_file, delimiter=',')
df2 = pd.read_csv(csv_file, sep=',', encoding='utf-8')
df2 = df2[clunas_movimento]
df2 = df2.where(pd.notnull(df2), None)
display(df2.head())

,portal,cnpj_emp,documento,data_documento,codigo_cliente,cod_vendedor,quantidade,preco_custo,valor_liquido,desconto,...,forma_convenio,total_convenio,frete,operacao,tipo_transacao,cod_produto,cancelado,excluido,desconto_total_item,timestamp
0,18550,40706783000148,1,19/04/2023 00:00:00,1,1,1,"0,0100","192,9000","0,0000",...,0,"0,0000","0,0000",S,V,2,S,N,"0,0000",3233078
1,18550,40706783000148,2,25/04/2023 00:00:00,1000003,1,1,"0,0100","19,5000","0,0000",...,0,"0,0000","0,0000",S,V,51,S,N,"0,0000",3234279
2,18550,40706783000148,2,25/04/2023 00:00:00,1000003,1,1,"0,0100","28,0000","0,0000",...,0,"0,0000","0,0000",S,V,50,S,N,"0,0000",3234280
3,18550,40706783000148,31768,02/05/2023 00:00:00,1,2,1,"0,0100","23,9000","0,0000",...,0,"0,0000","0,0000",S,V,1098,N,N,"0,0000",3251551
4,18550,40706783000148,31769,02/05/2023 00:00:00,1000004,4,1,"0,0003","15,0000","0,0000",...,0,"0,0000","0,0000",S,V,1477,S,N,"0,0000",3251643

In [3]:
#printar o max timestamp da tabela de movimento
print(df['timestamp'].max())

5784194

In [6]:
print(len(df))

27795

In [13]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27795 entries, 0 to 27794
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   portal               27795 non-null  int64
 1   cnpj_emp             27795 non-null  int64
 2   documento            27795 non-null  int64
 3   data_documento       27795 non-null  object
 4   codigo_cliente       27795 non-null  int64
 5   cod_vendedor         27795 non-null  int64
 6   quantidade           27795 non-null  int64
 7   preco_custo          27795 non-null  object
 8   valor_liquido        27795 non-null  object
 9   desconto             27795 non-null  object
 10  valor_total          27795 non-null  object
 11  forma_dinheiro       27795 non-null  int64
 12  total_dinheiro       27795 non-null  object
 13  forma_cheque         27795 non-null  int64
 14  total_cheque         27795 non-null  object
 15  forma_cartao         27795 non-null  int64
 16  total_cartao         27795 non-null  object
 17  forma_crediario      27795 non-null  int64
 18  total_crediario      27795 non-null  object
 19  forma_convenio       27795 non-null  int64
 20  total_convenio       27795 non-null  object
 21  frete                26046 non-null  object
 22  operacao             27795 non-null  object
 23  tipo_transacao       27795 non-null  object
 24  cod_produto          27795 non-null  int64
 25  cancelado            27795 non-null  object
 26  excluido             27795 non-null  object
 27  desconto_total_item  26046 non-null  object
 28  timestamp            27795 non-null  int64
dtypes: int64(13), object(16)
memory usage: 6.1+ MB

# testar puxanar dados do banco de dados

In [21]:
engine = create_engine('mysql+pymysql://root:4002@localhost:3306/mds')

movimento = pd.read_sql("SELECT * FROM cm_movimento", engine)
print(movimento.info())

#pegar ultima linha 
ultima = list(movimento.iloc[-1])
ultima[-1] = 0

movimento.iloc[-1] = ultima

display(movimento.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   portal               3 non-null      int64
 1   cnpj_emp             3 non-null      object
 2   documento            3 non-null      int64
 3   data_documento       3 non-null      object
 4   codigo_cliente       3 non-null      int64
 5   cod_vendedor         3 non-null      int64
 6   quantidade           3 non-null      float64
 7   preco_custo          3 non-null      float64
 8   valor_liquido        3 non-null      float64
 9   desconto             3 non-null      float64
 10  valor_total          3 non-null      float64
 11  forma_dinheiro       3 non-null      int64
 12  total_dinheiro       3 non-null      float64
 13  forma_cheque         3 non-null      int64
 14  total_cheque         3 non-null      float64
 15  forma_cartao         3 non-null      int64
 16  total_cartao         3 non-null      float64
 17  forma_crediario      3 non-null      int64
 18  total_crediario      3 non-null      float64
 19  forma_convenio       3 non-null      int64
 20  total_convenio       3 non-null      float64
 21  frete                3 non-null      float64
 22  operacao             3 non-null      object
 23  tipo_transacao       3 non-null      object
 24  cod_produto          3 non-null      int64
 25  cancelado            3 non-null      object
 26  excluido             3 non-null      object
 27  desconto_total_item  3 non-null      float64
 28  timestamp            3 non-null      int64
dtypes: float64(12), int64(11), object(6)
memory usage: 824.0+ bytes
None

,portal,cnpj_emp,documento,data_documento,codigo_cliente,cod_vendedor,quantidade,preco_custo,valor_liquido,desconto,...,forma_convenio,total_convenio,frete,operacao,tipo_transacao,cod_produto,cancelado,excluido,desconto_total_item,timestamp
0,123,12345678901234,456,2024-01-31,1,456,10.0,488.0,1000.0,100.0,...,0,0.0,50.0,OP,T,1,N,N,50.0,143587200
1,123,12345678901234,456,2024-01-31,1,456,10.0,488.0,1000.0,100.0,...,0,0.0,50.0,OP,T,1,N,N,50.0,243587200
2,123,12345678901234,456,2024-01-31,1,456,10.0,488.5,1000.0,100.0,...,0,0.0,50.0,OP,T,1,N,N,50.0,0

In [23]:
#enviar a ultima linha para o banco de dados
movimento = movimento[movimento['timestamp'] == 0]
display(movimento)
movimento.to_sql('cm_movimento', engine, if_exists="append", index=False)

,portal,cnpj_emp,documento,data_documento,codigo_cliente,cod_vendedor,quantidade,preco_custo,valor_liquido,desconto,...,forma_convenio,total_convenio,frete,operacao,tipo_transacao,cod_produto,cancelado,excluido,desconto_total_item,timestamp
2,123,12345678901234,456,2024-01-31,1,456,10.0,488.5,1000.0,100.0,...,0,0.0,50.0,OP,T,1,N,N,50.0,0

1

In [12]:
response = requests.get(url="http://localhost:5000/api/cm_movimento/movimento")
# print(response.text)
# ler o json e transformar em dataframe
json_buffer = StringIO(response.text)
df = pd.read_json(json_buffer)
display(df.head())

,preco_custo,valor_liquido,desconto,valor_total,total_dinheiro,total_cheque,total_cartao,total_crediario,total_convenio,frete,...,forma_cheque,forma_cartao,forma_crediario,forma_convenio,operacao,tipo_transacao,cod_produto,cancelado,excluido,timestamp
0,488.0,1000,100,900,500,0,400,0,0,50,...,False,True,False,False,OP,T,1,N,N,1974-07-20 21:20:00
1,488.0,1000,100,900,500,0,400,0,0,50,...,False,True,False,False,OP,T,1,N,N,1977-09-20 07:06:40
2,488.5,1000,100,900,500,0,400,0,0,50,...,False,True,False,False,OP,T,1,N,N,2047-03-10 23:06:41

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 0 to 2
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   preco_custo          3 non-null      float64
 1   valor_liquido        3 non-null      int64
 2   desconto             3 non-null      int64
 3   valor_total          3 non-null      int64
 4   total_dinheiro       3 non-null      int64
 5   total_cheque         3 non-null      int64
 6   total_cartao         3 non-null      int64
 7   total_crediario      3 non-null      int64
 8   total_convenio       3 non-null      int64
 9   frete                3 non-null      int64
 10  desconto_total_item  3 non-null      int64
 11  portal               3 non-null      int64
 12  cnpj_emp             3 non-null      int64
 13  documento            3 non-null      int64
 14  data_documento       3 non-null      object
 15  codigo_cliente       3 non-null      int64
 16  cod_vendedor         3 non-null      int64
 17  quantidade           3 non-null      int64
 18  forma_dinheiro       3 non-null      bool
 19  forma_cheque         3 non-null      bool
 20  forma_cartao         3 non-null      bool
 21  forma_crediario      3 non-null      bool
 22  forma_convenio       3 non-null      bool
 23  operacao             3 non-null      object
 24  tipo_transacao       3 non-null      object
 25  cod_produto          3 non-null      int64
 26  cancelado            3 non-null      object
 27  excluido             3 non-null      object
 28  timestamp            3 non-null      datetime64[ns]
dtypes: bool(5), datetime64[ns](1), float64(1), int64(17), object(5)
memory usage: 615.0+ bytes

In [12]:
import pandas as pd

relacoes = [
    {
        "produto_origem": 1,
        "nome_produto_origem": "Nome do Produto",
        "produtos_destino": [
            "Nome do Produto"
        ],
        "cod_produtos_destino": [
            2
        ]
    },
    {
        "produto_origem": 2,
        "nome_produto_origem": "Nome do Produto",
        "produtos_destino": [],
        "cod_produtos_destino": []
    }
]


df = pd.DataFrame(relacoes)



# # Expandir a lista de produtos destino em colunas separadas
df_produtos_destino = df['produtos_destino'].apply(pd.Series)
df_cod_produtos_destino = df['cod_produtos_destino'].apply(pd.Series)

# # Renomear colunas
df_produtos_destino.columns = [f'produto_realcionado_{col+1}' for col in df_produtos_destino.columns]
df_cod_produtos_destino.columns = [f'cod_produto_destino_{col}' for col in df_cod_produtos_destino.columns]

# # Concatenar os novos DataFrames ao DataFrame original
df = pd.concat([df, df_produtos_destino], axis=1)

# # Remover as colunas originais de produtos destino
df.drop(['produtos_destino', 'cod_produtos_destino'], axis=1, inplace=True)



# display(df.head())

                 0
0  Nome do Produto
1              NaN

In [11]:
dados_api = [
    {
        "produto_origem_cod": 1,
        "produto_origem_nome": "Produto A",
        "produto_destino_cod": 2,
        "produto_destino_nome": "Produto B"
    },
    {
        "produto_origem_cod": 1,
        "produto_origem_nome": "Produto A",
        "produto_destino_cod": 3,
        "produto_destino_nome": "Produto C"
    },
    {
        "produto_origem_cod": 2,
        "produto_origem_nome": "Produto B",
        "produto_destino_cod": 3,
        "produto_destino_nome": "Produto C"
    }
]

# Converter os dados em DataFrame
df = pd.DataFrame(dados_api)


# # Agrupar por produto origem e adicionar colunas de produtos destino e seus respectivos nomes
# df = df.groupby('produto_origem_cod').apply(lambda x: pd.Series({
#     'produtos_destino_cod': x['produto_destino_cod'].tolist(),
#     'produtos_destino_nome': x['produto_destino_nome'].tolist()
# })).reset_index()



# Exibir o DataFrame
display(df)

,produto_origem_cod,produto_origem_nome,produto_destino_cod,produto_destino_nome
0,1,Produto A,2,Produto B
1,1,Produto A,3,Produto C
2,2,Produto B,3,Produto C

In [24]:
from werkzeug.security import generate_password_hash

admin_password = 'senha_do_admin'
hashed_password = generate_password_hash(admin_password)

In [25]:
print(hashed_password)

scrypt:32768:8:1$iiuP57lHT6pKfOPh$caeb17dd4fad08aa0338080d033e16dae54f29512cbdc53b1676af30a808a29006fe1194e0747cae514b835901bda893709a73a3e1f0ac1551c1023ef982d5aa